.version.index /* version checker */
{
	color: #00001C;
	background-color: #62BA6A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.8150273224045px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 149px;
}

#u1101
{
	z-index: 36;
	width: 249px;
	height: 93px;
	margin-left: 356px;
}

#pu2118-3
{
	width: 0.01px;
	margin-left: -222px;
	margin-top: 35px;
}

#u2118-3
{
	z-index: 49;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u130-3
{
	z-index: 33;
	width: 5px;
	margin-right: -10000px;
	left: 878px;
}

#pu2127-3
{
	width: 0.01px;
	margin-left: -492px;
	margin-top: -1px;
}

#u2127-3
{
	z-index: 40;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#menuu104
{
	z-index: 2;
	width: 579px;
	margin-right: -10000px;
	left: 663px;
}

#u2137
{
	width: 114px;
}

#u2134,#u2139-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
}

#u2137:active #u2139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1136
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	left: 116px;
}

#u1137
{
	width: 114px;
}

#u1140-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
}

#u2137.MuseMenuActive #u2139-4,#u1137:active #u1140-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1123
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	left: 232px;
}

#u1124
{
	width: 114px;
}

#u1127-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
}

#u1137.MuseMenuActive #u1140-4,#u1124:active #u1127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1110
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	left: 348px;
}

#u1111
{
	width: 114px;
}

#u1114-4
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
}

#u1124.MuseMenuActive #u1127-4,#u1111:active #u1114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2198
{
	width: 115px;
	min-height: 17px;
	margin-right: -10000px;
	left: 464px;
}

#u2201
{
	width: 115px;
}

#u2137.MuseMenuActive,#u1137.MuseMenuActive,#u1124.MuseMenuActive,#u1111.MuseMenuActive,#u2201.MuseMenuActive
{
	margin: 0px;
}

#u2203-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -10000px;
}

#u1111.MuseMenuActive #u1114-4,#u2201:active #u2203-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2201.MuseMenuActive #u2203-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu2128-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 32px;
}

#u2128-3
{
	z-index: 37;
	width: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 892px;
}

#u2141
{
	z-index: 52;
	width: 1159px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 187px;
	position: relative;
	margin-right: -10000px;
}

#u2142-3
{
	z-index: 53;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 517px;
}

#slideshowu2143
{
	z-index: 56;
	width: 0.01px;
	height: 494px;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u2160
{
	position: absolute;
	width: 938px;
	height: 467px;
	background-color: transparent;
}

#u2160popup
{
	z-index: 57;
}

#u2161
{
	z-index: 58;
	width: 938px;
	height: 467px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3854
{
	z-index: 60;
	width: 938px;
	height: 467px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3863
{
	z-index: 62;
	width: 938px;
	height: 467px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3863_img
{
	margin-left: 42px;
	margin-top: -1px;
	margin-right: 64px;
}

#u3872
{
	z-index: 64;
	width: 938px;
	height: 467px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3881
{
	z-index: 66;
	width: 938px;
	height: 467px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3890
{
	z-index: 68;
	width: 938px;
	height: 467px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3899
{
	z-index: 70;
	width: 938px;
	height: 467px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3908
{
	z-index: 72;
	width: 938px;
	height: 467px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3917
{
	z-index: 74;
	width: 938px;
	height: 467px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2161_clip,#u3854_clip,#u3863_clip,#u3872_clip,#u3881_clip,#u3890_clip,#u3899_clip,#u3908_clip,#u3917_clip
{
	overflow: hidden;
	width: 938px;
	height: 467px;
}

#u2161_img,#u3854_img,#u3872_img,#u3881_img,#u3890_img,#u3899_img,#u3908_img,#u3917_img
{
	margin-left: 42px;
	margin-right: 64px;
	margin-bottom: -1px;
}

#u2151
{
	position: absolute;
	width: 175px;
	top: 474px;
	left: 377px;
}

#u2151popup
{
	z-index: 76;
}

#u2152
{
	z-index: 77;
	width: 20px;
	height: 20px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3857
{
	z-index: 79;
	width: 20px;
	height: 20px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#u3866
{
	z-index: 81;
	width: 20px;
	height: 20px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 38px;
}

#u3875
{
	z-index: 83;
	width: 20px;
	height: 20px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 57px;
}

#u3884
{
	z-index: 85;
	width: 20px;
	height: 20px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 76px;
}

#u3893
{
	z-index: 87;
	width: 20px;
	height: 20px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u3902
{
	z-index: 89;
	width: 20px;
	height: 20px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 116px;
}

#u3911
{
	z-index: 91;
	width: 20px;
	height: 20px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 135px;
}

#u3920
{
	z-index: 93;
	width: 20px;
	height: 20px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u2152.SSSlideLinkSelected,#u3857.SSSlideLinkSelected,#u3866.SSSlideLinkSelected,#u3875.SSSlideLinkSelected,#u3884.SSSlideLinkSelected,#u3893.SSSlideLinkSelected,#u3902.SSSlideLinkSelected,#u3911.SSSlideLinkSelected,#u3920.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/bullet_square_grey.png") no-repeat left top;
}

#u2152_img,#u3857_img,#u3866_img,#u3875_img,#u3884_img,#u3893_img,#u3902_img,#u3911_img,#u3920_img
{
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 2px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu2122
{
	width: 0.01px;
	margin-left: 411px;
	margin-top: 60px;
}

#u2122
{
	z-index: 47;
	width: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2116
{
	z-index: 45;
	width: 36px;
	position: relative;
	margin-right: -10000px;
	left: 51px;
}

#u2125
{
	z-index: 43;
	width: 36px;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u2116_img,#u2125_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

