.version.work /* version checker */
{
	color: #0000E9;
	background-color: #4170F8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.75px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -177px;
	padding-top: 20px;
}

#u3368
{
	z-index: 45;
	width: 249px;
	height: 93px;
	margin-left: 356px;
	position: relative;
	background: transparent url("../images/logo-u3368-fr.png") no-repeat left top;
	background-size: contain;
}

#pmenuu3310
{
	width: 0.01px;
	margin-left: 171px;
	margin-top: 46px;
}

#menuu3310
{
	z-index: 11;
	width: 579px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u3311
{
	width: 114px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u3313-4
{
	width: 114px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #AAAAAA;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u3312:active #u3313-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3312:active #u3313-4 p
{
	color: #000000;
	visibility: inherit;
}

#u3339
{
	width: 114px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 116px;
}

#u3312,#u3363
{
	width: 114px;
	position: relative;
	background: transparent url("../images/logo.png") no-repeat left top;
}

#u3363.MuseMenuActive
{
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
}

#u3366-4
{
	width: 114px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #AAAAAA;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u3312.MuseMenuActive #u3313-4,#u3363:active #u3366-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3363:active #u3366-4 p
{
	color: #000000;
	visibility: inherit;
}

#u3325
{
	width: 114px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 232px;
}

#u3327-4
{
	width: 114px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #AAAAAA;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u3363.MuseMenuActive #u3366-4,#u3326:active #u3327-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3326:active #u3327-4 p
{
	color: #000000;
	visibility: inherit;
}

#u3318
{
	width: 114px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u3326,#u3321
{
	width: 114px;
	position: relative;
	background: transparent url("../images/logo.png") no-repeat left top;
}

#u3324-4
{
	width: 114px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #AAAAAA;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u3326.MuseMenuActive #u3327-4,#u3321:active #u3324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3321:active #u3324-4 p
{
	color: #000000;
	visibility: inherit;
}

#u3332
{
	width: 115px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#u3333
{
	width: 115px;
	position: relative;
	background: transparent url("../images/logo.png") no-repeat left top;
}

#u3336-4
{
	width: 115px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #AAAAAA;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u3321.MuseMenuActive #u3324-4,#u3333:active #u3336-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u3333:active #u3336-4 p
{
	color: #000000;
	visibility: inherit;
}

#u3312.MuseMenuActive #u3313-4 p,#u3363.MuseMenuActive #u3366-4 p,#u3326.MuseMenuActive #u3327-4 p,#u3321.MuseMenuActive #u3324-4 p,#u3333.MuseMenuActive #u3336-4 p
{
	color: #7F7F7F;
	visibility: inherit;
	font-weight: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u3367-3
{
	z-index: 42;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#u3075-3
{
	z-index: 2;
	width: 5px;
	margin-left: 681px;
	margin-top: 7px;
	position: relative;
}

#pmenuu4163
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-left: 260px;
}

#menuu4163
{
	z-index: 46;
	width: 168px;
	position: relative;
	margin-right: -10000px;
}

#u4171
{
	width: 168px;
	position: relative;
}

#u4174
{
	width: 168px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FAFAFA;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u4175-4
{
	width: 168px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #B0B0B0;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u3333.MuseMenuActive #u3336-4,#u4174:hover #u4175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4174:hover #u4175-4 p
{
	color: #CCCCC6;
	visibility: inherit;
}

#u4256
{
	width: 168px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FAFAFA;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u4174:hover,#u4256:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u4258-4
{
	width: 168px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #B0B0B0;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u4174.MuseMenuActive #u4175-4,#u4256:hover #u4258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4256:active #u4258-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4256:hover #u4258-4 p
{
	color: #CCCCC6;
	visibility: inherit;
}

#u4256:active #u4258-4 p
{
	color: #CCCCC6;
	visibility: inherit;
}

#u4253,#u4260
{
	width: 168px;
	margin-top: 2px;
	position: relative;
}

#u4261
{
	width: 168px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FAFAFA;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u4256:active,#u4261:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u4261:active
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u4263-4
{
	width: 168px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #B0B0B0;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u4256.MuseMenuActive #u4258-4,#u4261:hover #u4263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4261:active #u4263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4261.MuseMenuActive #u4263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u4261:hover #u4263-4 p
{
	color: #CCCCC6;
	visibility: inherit;
}

#u4261:active #u4263-4 p
{
	color: #CCCCC6;
	visibility: inherit;
}

#u4174.MuseMenuActive #u4175-4 p,#u4256.MuseMenuActive #u4258-4 p,#u4261.MuseMenuActive #u4263-4 p
{
	color: #B0B0B0;
	visibility: inherit;
}

#u3309-3
{
	z-index: 8;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 420px;
}

#u3208-3
{
	z-index: 5;
	width: 5px;
	margin-left: 704px;
	margin-top: 200px;
	position: relative;
}

#u4299-3
{
	z-index: 65;
	width: 5px;
	margin-left: 344px;
	margin-top: 160px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

